html,
body {
    height: 80%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}

.radio-pink [type="radio"]:checked+label:after {
  border-color: #66bb6a;
  background-color: #66bb6a;
}
/*Gap*/

.radio-pink-gap [type="radio"].with-gap:checked+label:before {
  border-color: #66bb6a;
}

.radio-pink-gap [type="radio"]:checked+label:after {
  border-color: #66bb6a;
  background-color: #66bb6a;
}                

.form-group {
  
  margin-left: 1rem !important;
}


.form-gradient .font-small {
  font-size: 0.8rem; }

.form-gradient .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem; }

.form-gradient input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=text]:focus:not([readonly]) + label {
  color: #4f4f4f; }

.form-gradient input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=password]:focus:not([readonly]) + label {
  color: #4f4f4f; }
                
/* .color:active {
    color:red;
}
.form-dark .font-small {
  font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px; }

.form-dark .md-form label {
  color: #fff !important; }

.form-dark input[type=text]:focus:not([readonly]) +i {
  border-bottom: 1px solid #00C851 !important;
  -webkit-box-shadow: 0 1px 0 0 #00C851 !important;
  box-shadow: 0 1px 0 0 #00C851 !important; }

.form-dark input[type=text]:focus:not([readonly]) + label + i{
  color: #fff !important; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851 !important;
  -webkit-box-shadow: 0 1px 0 0 #00C851 !important;
  box-shadow: 0 1px 0 0 #00C851 !important; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff !important; }

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }
                 */

  /* /* .md-form input[type=text]:focus:not([readonly]) + label { color: #CC0000; }  */
  /* .md-form + .fa{
    color: #FFF;
  } */